<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>참고자료</title>
        <!--추가된부분-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" /> <!-- 수정부분-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <!--폰트-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&family=Noto+Serif+KR:wght@400;500&display=swap" rel="stylesheet">      <!--폰트-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- 수정부분-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Player</title>
        <!--수정부분-->
        <!-- 수정부분-->
        <style>

            body {
                font-family: 'Noto Sans KR', sans-serif;
            }
            
            
            .sb-topnav.navbar.bg-dark {
                background-color: #232d3f !important;
            }
        
            .sb-topnav.navbar .navbar-brand {
                color: white !important;
            }
        
            .sb-topnav.navbar .navbar-toggler-icon {
                background-color: white !important;
            }
            
            .sb-sidenav {
                background-color: #232d3f !important; /* Set your desired background color */
            }

            .sb-sidenav-footer {
                background-color: #232d3f !important;
            }
            
        </style>
        <!---->
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="{{ url_for('start', name='index.html') }}">디지털스마트부산 아카데미</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    {% if 'loggedin' in session and session['loggedin'] %}
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('start', name='profile.html') }}">마이페이지</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('start', name='tables.html') }}">이전기록 분석</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">로그아웃</a></li>
                        </ul>
                    {% else %}
                        <a class="nav-link" href="{{ url_for('login') }}">로그인</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="{{ url_for('start', name='index.html') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                근골격계 자세 개선
                            </a>
                            <!-- 나중에 필요없다고 느껴지면-->
                            <div class="sb-sidenav-menu-heading"></div>
                            <a class="nav-link" href="{{ url_for('start', name='upload.html') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                업로드
                            </a>
                            <a class="nav-link" href="{{ url_for('start', name='image.html') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-image"></i></div>
                                이미지
                            </a>
                            {% if 'loggedin' in session and session['loggedin'] %}
                            <!-- 로그인 상태인 경우에만 이전 기록 분석 링크를 보여줌 -->
                            <a class="nav-link" href="{{ url_for('start', name='tables.html') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                이전 기록 분석
                            </a>
                            {% endif %}
                            <a class="nav-link" href="{{ url_for('start', name='point.html') }}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                참고자료
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        {{ session['username'] }}
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">참고자료</h1>
                        <div class="card mb-4">
                            <div class="card-body"> <!-- 설명 수정 -->
                                OWAS 및 근골격계 관련 지침을 통해서 모델을 만들었습니다.
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-light">
                                <i class="fas fa-table me-1"></i>
                                OWAS 설명
                            </div>
                            <div class="card-body">
                                <p>
                                    OWAS는 "Occupational Work Assessment System"의 약자로, 직업적 업무 평가 시스템을 나타냅니다.
                                    이 시스템은 작업 환경에서의 노동자의 동작과 작업 환경을 평가하여 안전성과 효율성을 향상시키는 데 사용됩니다.
                                </p>
                                <p>
                                    더 자세한 정보는 OWAS에 관한 공식 사이트를 참조하십시오.<br><br>
                                    <a href="https://kras.kosha.or.kr/health/health_tab04_detail_popup01" target="_blank" class="btn btn-primary">OWAS 공식 사이트</a>
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <div class="card-header bg-light">
                                <i class="fas fa-table me-1"></i>
                                RULA 설명
                            </div>
                            <div class="card-body">
                                <p>
                                    RULA는 "Rapid Upper Limb Assessment"의 약자로, 상체 및 상지의 빠른 평가를 의미합니다.
                                    이 지표는 작업자의 상체 및 상지 동작을 평가하여 근골격계 건강을 분석하고 개선하기 위한 도구로 활용됩니다.
                                </p>
                                <p>
                                    더 자세한 정보는 RULA에 관한 참고 자료를 확인하십시오.<br><br>
                                    <a href="https://kras.kosha.or.kr/health/health_tab04_detail_popup03" target="_blank" class="btn btn-primary">RULA 참고 자료</a>
                                </p>
                            </div>
                        </div>                                                                       
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">디지털스마트부산 아카데미 3기</div>
                            <div>
                                <a href="{{ url_for('start', name='private.html') }}">개인정보 처리방침</a>
                                &middot;
                                <a href="{{ url_for('start', name='termsuse.html') }}">이용약관</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('start', name='js/scripts.js') }}"></script> <!-- 수정된 부분 -->
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('start', name='js/datatables-simple-demo.js') }}"></script> <!-- 수정된 부분 -->
    </body>
</html>
